/*================ Chat Container =================*/
.chat-container {
    width: 350px;
    height: 500px;
    background: transparent;
    border-radius: 15px;
    position: fixed;
    right: 20px;
    bottom: 200px;
    overflow: hidden;
    z-index: 9999;
}



.header {
    background: #000000;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #333;
    color: white;
}

#messages {
    height: 350px;
    padding: 15px;
    overflow-y: auto;
    color: white;
}

.user-msg, .bot-msg {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    max-width: 80%;
}

.user-msg {
    background: orange;
    margin-left: auto;
}

.bot-msg {
    background: orangered;
    margin-right: auto;
}

.input-area {
    display: flex;
    padding: 10px;
    background: #1e1e1e;
    border-top: 1px solid #333;
}

.input-area input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.input-area button {
    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    background: orangered;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

