*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.intro{
  background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(184, 57, 11, 1) 70%, rgba(255, 69, 0, 1) 100%);
   
}
.intro-info{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
}
.nav{
    background-color: orangered!important;
}

.navbar-brand,.nav-link{
    color: white;
}
/* need to change color */
.bi-list{
    color: white;
    background:none;
    border: none;
    font-size: 1.7rem;
}

.card-img{
    width: 4rem;
    height: 4rem;
   
}
.card-body{
  border-radius: 0.8rem;
}
.card-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.bi{
    color: orangered;
    font-size: 3rem;
}

.nav-link:hover{
    color:orangered;
}
.btn-signup{
    background-color: orangered;
    color: white;
}
.btn-login{
    background-color: orangered;
    color: white;

}


.modal-signupform{
    display: flex;
    flex-direction: column;


}

.modal-signupform input{
    border: 2px solid black;
}

.footer{
    color: white;
}
.footer .bi{
    color: white;
}

select {
  width: 100%;
  padding: 10px 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  transition: 0.2s;
}

select:focus {
  border-color: #FF4500;
  box-shadow: 0 0 4px rgba(255, 69, 0, 0.4);
}
input {
  width: 100%;
  padding: 10px 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  transition: 0.2s;
}

/* On focus */
input:focus {
  border-color: #FF4500;
  box-shadow: 0 0 4px rgba(255, 69, 0, 0.4);
}


.modal-profiledetails{
  display: flex;
  flex-direction: column;
}
.btn-book{
  background-color: orangered;
  color: white;
  /* height: 100%; */
  font-size: small;
}
.btn-book:hover{
  background-color: white;
  color: #FF4500;
  border: 1px solid black;
  border: 1px solid orangered;
}
.btn-cancel{
  background-color:red;
  color: white;
  /* height: 100%; */
  font-size: small;
  
}
.btn-cancel:hover{
  background-color: white;
  color: red;
  border:1px solid red;
}

.custom-carousel .carousel-inner {
  height: 300px; /* adjust height as you want */
  border-radius: 20px; /* rounded corners */
  overflow: hidden; /* important for rounded corners */
}

.custom-carousel .carousel-item img {
  height: 100%;
   /* crop nicely */
  border-radius: 20px; /* optional */
}
.carousel-caption {
  top: 20px;
  bottom: auto;
}
#map {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  margin-top: 10px;
}

.user-card{
  border: none;
}
.loc-card{
  border: none;
}
.btn-wrapper{
 display: flex;
 justify-content: space-around;
}
.servicemen-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.tech-img{
 
   width: 8rem;
   height: 8rem;
   

}
.tech-img img{
  height: 100%;
  width: 100%;
}